@font-face {
  font-family: "iconfont"; /* Project id 4455852 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1710828182840') format('woff2'),
       url('iconfont.woff?t=1710828182840') format('woff'),
       url('iconfont.ttf?t=1710828182840') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-like__easyico:before {
  content: "\e600";
}

.icon-zan:before {
  content: "\e677";
}

